@import 'tailwindcss';

@theme {
    --font-inter: 'Inter', sans-serif;
}

:root {
    /* Cores */
    --fundo: #fafafa;
    --color-base: #552ba9;
    --color-verde: #19ad70;
    --color-alert: #ff3434;
    --cinza-700: #374151;
    --cinza-600: #4b5563;
    --cinza-500: #6b7280;
    --cinza-400: #9ca3af;
    --cinza-300: #d1d5db;
    --cinza-200: #e5e7eb;
    --cinza-100: #f8f9fa;
    --roxo-light: #f3e8ff;
    --roxo-dark: #7e22ce;
    --fundo: #fafafa;
    --color-dark: #42257c;
    --color-variant: #7645d787;

    --login-background: linear-gradient(90deg, rgba(126, 34, 206, 1) 0%, rgba(85, 43, 169, 1) 100%);

    --bar-background: linear-gradient(90deg, rgb(106, 28, 174) 0%, rgba(85, 43, 169, 1) 100%);

    /* Sombra */
    --external-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
