@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

:root {
  /* Cores */
  --fundo: #fafafa;
  --color-base: #552ba9;
  --color-base-variant: #7645d7;
  --coloro-base-dark: #42257c;
  --cinza-700: #374151;
  --cinza-600: #4b5563;
  --cinza-500: #6b7280;
  --cinza-300: #d1d5db;
  /* Sombra */
  --external-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
