@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
}

:root {
  /* Cores */
  --fundo: #FAFAFA;
  --color-base: #552BA9;
  --cinza-700: #374151;
  --cinza-600: #4B5563;
  --cinza-500: #6B7280;
  --cinza-300: #D1D5DB;
  /* Sombra */
  --external-shadow: 0 0 8px rgba(0,0,0,0.25);

}